<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Komentar dan Vote</title>
    <style>
        .disabled { color: red; }
    </style>
</head>
<body>
    <div id="app">
        <ul>
           <comments v-for="comment in comments" :comment="comment"></comments>
        </ul>

        <textarea v-model="comment_text" cols="30" rows="10" @keyup.enter="postComment"></textarea>
    </div>

    <template id="comment-template">
        <div v-on:click="sundul" v-bind:class="{disabled:plus}"> + </div>
        <div>{{ comment.body }} - {{ comment.time }} || {{ coto }}</div>
        <div v-on:click="bata" v-bind:class="{disabled:minus}"> - </div>
    </template>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.25/vue.min.js"></script>
    <script src="main.js"></script>
</body>
</html>